<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mapper.EsMappingMapper">

    <select id="selectGlobalTransaction" resultType="java.lang.String">
        select global_transactions from es_mapping where doc_id = #{docId} and index_name = #{indexName};
    </select>

    <insert id="insertEsMapping">
        insert into es_mapping values (index_name = #{indexName}, doc_id = #{docId}, global_transactions = "");
    </insert>

    <update id="updateEsMappingOnlyLock">
        update es_mapping set doc_id = #{docId} where index_name = #{indexName} and doc_id = #{docId};
    </update>

    <update id="updateGlobalTransaction">
        update es_mapping set global_transactions = #{globalTransactions} where doc_id = #{docId} and index_name = #{indexName};
    </update>

</mapper>