<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mapper.EsMappingMapper">
    <select id="selectVersion" resultType="java.lang.Integer">
        select version from es_mapping where doc_id = #{docId} and index_name = #{indexName};
    </select>

    <select id="selectTimeStamp" resultType="java.lang.String">
        select timeStamp from es_mapping_table where doc_id = #{docId} and index_name = #{indexName};
    </select>
</mapper>