<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mapper.EsMappingMapper">
    <select id="selectVersion" resultType="java.lang.Integer">
        select version from es_mapping where doc_id = #{docId} and index_name = #{indexName};
    </select>

    <select id="selectTimeStamp" resultType="java.lang.String">
        select timeStamp from es_mapping_table where doc_id = #{docId} and index_name = #{indexName};
    </select>

    <select id="selectGlobalTransaction" resultMap="java.lang.String">
        select global_transactions from es_mapping_table where doc_id = #{docId} and index_name = #{indexName};
    </select>

    <insert id="insertEsMapping">
        insert into es_mapping_table values (index_name = #{indexName}, doc_id = #{docId}, global_transactions = "");
    </insert>

    <update id="updateEsMappingOnlyLock">
        update es_mapping_table set doc_id = #{docId} where index_name = #{indexName} and doc_id = #{docId};
    </update>
</mapper>